<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>Dodaj ofertę</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="addOfferForm">

            <mat-form-field class="half-width">
                <mat-label>Kategoria</mat-label>
                <mat-select [(ngModel)]="model.categoryId"
                            formControlName="categorySelector">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="half-width right">
                <mat-label>Podkategoria</mat-label>
                <mat-select [(ngModel)]="model.subcategoryId"
                            placeholder=""
                            formControlName="subcategorySelector">
                    <mat-option *ngFor="let subcategory of subcategoriesShown" [value]="subcategory.id">
                        {{subcategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                       [(ngModel)]="model.title"
                       formControlName="title"
                       placeholder="Tytuł">
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput
                          [(ngModel)]="model.description"
                          class="description"
                          formControlName="description"
                          placeholder="Opis">
                </textarea>
            </mat-form-field>

            <section>
                <mat-checkbox [(ngModel)]="model.doorToDoor"
                              class="full-width"
                              formControlName="doorToDoor">
                    Od drzwi do drzwi
                </mat-checkbox>
            </section>

            <section>
                <mat-checkbox [(ngModel)]="model.hasOwnTools"
                              class="full-width"
                              formControlName="hasOwnTools">
                    Mam własne narzędzia
                </mat-checkbox>
            </section>

            <mat-form-field class="full-width">
                <input matInput
                       [(ngModel)]="model.availableLocation"
                       formControlName="availableLocation"
                       placeholder="Dostępne lokalizacje"
                       value="">
            </mat-form-field>

            <mat-form-field class="half-width">
                <input [(ngModel)]="model.price" class="right-align"
                       matInput
                       formControlName="price"
                       placeholder="Cena"
                       type="number">
                <span matSuffix>.00</span>
            </mat-form-field>

            <mat-form-field class="half-width right">
                <input [(ngModel)]="model.pricePerHour" class="right-align"
                       matInput
                       formControlName="pricePerHour"
                       placeholder="Cena za godzinę"
                       type="number">
                <span matSuffix>.00</span>
            </mat-form-field>

            <div class="image-picker">
                <p>Do oferty możesz dołączyć zdjęcie: </p>
                <input type="file" (change)="onFileChange($event)">
            </div>

            <div *ngIf="model.imageBase64">
                <img [src]="model.imageBase64" height="350px" width="auto" />
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button
                (click)="Reset()"
                color="warn">Resetuj
        </button>

        <!-- TEMP DISABLE -->
        <button mat-raised-button
                (click)="Add()"
                [disabled]="!model.title || !model.description
                || !model.categoryId || !model.subcategoryId
                || !model.availableLocation || !model.price
                || !model.pricePerHour"
                color="warn">Dodaj
        </button>
    </mat-card-actions>
</mat-card>
