.full-width {
    width: 100%;
}

.half-width {
    width: 45%;
}

.description {
    height: 200px;
}

.right {
    float: right;
}

.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

.image-picker {
    padding-bottom: 15px;
}