<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>{{model?.title}}</mat-card-title>
        <mat-card-subtitle>{{model?.categoryName}} : {{model?.subcategoryName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="model">
        <mat-tab-group>
            <mat-tab label="Oferta">
                <offer [model]="model"></offer>
            </mat-tab>

            <mat-tab label="Mój profil">
                 <craftsman-profile-page [craftsmanProfile]="model.craftsman"></craftsman-profile-page>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>    