.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: #ffffff;
  background-image: url("landing-page-image.jpg");
  position: relative;

  .landing-page-text {
    margin: 20px 0;
    text-align: center;
    line-height: 1.5;
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
  }

  button[mat-raised-button] {
    width: 250px;
    color: #ffff;
    z-index: 1;
  }

  .color-overlay {
    width: 100%;
    height: 100%;
    background: #131836;
    opacity: 0.7;
    position: absolute;
  }
}
