<div class="landing-page">
  <div class="landing-page-text mat-typography">USŁUGI RZEMIEŚLNICZE</div>
  <button mat-raised-button color="primary" (click)="getMore()">DOWIEDZ SIĘ WIĘCEJ</button>
  <div class="color-overlay"></div>
</div>
