<mat-card>
  <mat-card-header>
      <mat-card-title>{{offer.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img
    mat-card-image
    [src]="offer.image"
    alt="CraftOffer Alt">
    <div class="contentPrice">
      <div class="contentPrice__value">{{offer.price}}zł</div>
      <div class="contentPrice__value">{{offer.pricePerHour}}zł/h</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="moveToDetailsPage()" mat-button>WIĘCEJ</button>
  </mat-card-actions>
</mat-card>
  