.contentPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentPrice__value {
  margin: 20px 10px;
  font-weight: 700;
  font-size: 30px;
}

mat-card {
  margin: 10px;
  width: 250px;
}

mat-card-header {
  margin-bottom: 15px;
}