<form [formGroup]="userSettingsForm">
    <mat-form-field class="full-width">
        <input [(ngModel)]="userProfile.name"
               formControlName="name"
               matInput
               placeholder="Imię">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input [(ngModel)]="userProfile.surname"
               formControlName="surname"
               matInput
               placeholder="Nazwisko">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input [(ngModel)]="userProfile.email"
               formControlName="email"
               matInput
               placeholder="Adres e-mail">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="userProfile.isCraftsman"
                  formControlName="isCraftsmanBool"
                  [disabled]="userProfile.isUpdating">
        Czy jesteś rzemieślnikiem?
    </mat-checkbox>
    <br><br><br></form>
