<h3 *ngIf="!userProfile.isUpdating" class="mat-h1">Nowy profil</h3>
<h3 *ngIf="userProfile.isUpdating" class="mat-h1">Edycja Profilu</h3>

<user-settings-form *ngIf="userProfile || !userProfile.isUpdating" [userProfile]="userProfile" (isValid)="valid = $event;"></user-settings-form>

<div *ngIf="!userProfile.isUpdating" class="action">
    <button mat-raised-button
        (click)="close()"
        color="warn">Zamknij
    </button>

    <button mat-raised-button
        [mat-dialog-close]="userProfile"
        [disabled]="!valid"
        color="primary">Zatwierdź
    </button>
</div>

<div *ngIf="userProfile.isUpdating" class="action">
    <button mat-raised-button
        (click)="close()"
        color="warn">Zamknij
    </button>

    <button mat-raised-button
        [mat-dialog-close]="userProfile"
        [disabled]="!valid"
        color="primary">Aktualizuj
    </button>
</div>
