<label> {{model.title}} </label>
<br>
<span class="description">Godzina rozpoczęcia {{model.timeRange.startTime}}</span>
<mat-slider
    [min]="0"
    [max]="24"
    [step]="step"
    [thumbLabel]="true"
    [displayWith]="timeHelper.numberToTimeString"
    (ngModelChange)="applyStartTime($event)"
    [(ngModel)]="startTimeInt">
</mat-slider>
<span class="description">Godzina zakończenia {{model.timeRange.endTime}}</span>
<mat-slider
    [min]="0"
    [max]="24"
    [step]="step"
    [thumbLabel]="true"
    [displayWith]="timeHelper.numberToTimeString"
    (ngModelChange)="applyEndTime($event)"
    [(ngModel)]="endTimeInt">
</mat-slider>
<br>