<div class="main">
  <div class="mapTitle mat-typography">{{title}}</div>
  <agm-map [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
  >
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
    >
  </agm-marker>
  </agm-map>
</div>
