.footer {
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 50px;
    .content {
        color:white;
        font-size: 15px;
        text-align:center;
        vertical-align: middle;
    }
}