<div class="app" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Craftsmen Services</h1>
  </mat-toolbar>

  <mat-sidenav-container
  class="app-sidenav-container"
  >

    <mat-sidenav
    #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    >
      <app-craftsmen-menu></app-craftsmen-menu>
    </mat-sidenav>
    <div class="app-content">
      <div class="app-outlet">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <crafsmen-footer></crafsmen-footer>
      </div>
    </div>
  </mat-sidenav-container>
</div>