.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app-toolbar {
    height: 56px;
  }

  .app-is-mobile .app-toolbar {
    position: fixed;
  }

  .app-sidenav-container {
    flex: 1;
  }

  .app-is-mobile .app-sidenav-container {
    flex: 1 0 auto;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .app-outlet {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }
}
