<mat-nav-list>
  <a  mat-list-item  *ngIf="!(isLoggedIn$ | async)" (click)="auth.login()">Zaloguj się</a>
  <a  mat-list-item  routerLink='/offers/show'>Szukaj ofert</a>
  <a  mat-list-item  *ngIf="(isLoggedIn$ | async)" routerLink='/myProfile'>Mój profil</a>
  <a  mat-list-item  *ngIf="(isLoggedIn$ | async) && (myProfile$ | async)?.isCraftsman" routerLink='/offers/add'>Dodaj ofertę</a>
  <a   mat-list-item *ngIf="(isLoggedIn$ | async)" (click)="auth.logout()">Wyloguj się</a>
</mat-nav-list>
