.menu {
    height: 100%;
    overflow: auto;

    a {
        width: 230px;
        cursor: pointer;
    }

    nav a {
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        border-radius: 4px;
    }
    nav a:visited, a:link {
        color: #334953;
    }
    nav a:hover {
        color: #039be5;
        background-color: #cfd8dc;
    }
    nav a.active {
        color: #039be5;
    }
}

.toggle {
    float: right;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}
