<div *ngIf="craftsmanProfile" class="page">
  <app-craftsman-profile-header [craftsman]="craftsmanProfile"></app-craftsman-profile-header>
  <app-location-map
    [latitude]="craftsmanProfile.latitude"
    [longitude]="craftsmanProfile.longitude"
    [title]="'Znajdziesz mnie tutaj'"
  >
</app-location-map>
  <app-craftsman-profile-body [craftsman]="craftsmanProfile"></app-craftsman-profile-body>
</div>
