<span *ngIf="categories && filters" class="filters">
    <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select [(ngModel)]="filters.categoryId">
            <mat-option *ngFor="let cat of categories" [value]="cat.id">
                {{cat.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lokalizacja</mat-label>
        <input [(ngModel)]="filters.location"
            matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Czego szukasz?</mat-label>
        <input [(ngModel)]="filters.contains"
            matInput>
    </mat-form-field>

    <mat-card-actions align="end">
        <button mat-raised-button
            (click)="filter()"
            color="primary"> Filtruj
        </button>
    
        <button mat-raised-button
            (click)="reset()"
            color="warn"> Wyczyść filtry
        </button>
    </mat-card-actions>
</span>
