<div class="userProfileBody">
  <mat-tab-group>
    <mat-tab label="INFORMACJE">
      <app-craftsman-profile-about [craftsman]="craftsman"></app-craftsman-profile-about>
    </mat-tab>
    <mat-tab label="MOJE USŁUGI">
      <app-craftsman-profile-offers [craftsmanId]="craftsman?.craftsmanId"></app-craftsman-profile-offers>
    </mat-tab>
    <mat-tab label="OPINIE">
      <opinions-list [craftsmanId]="craftsman?.craftsmanId"></opinions-list>
    </mat-tab>
  </mat-tab-group>
</div>
