<div class="offersList">
  <app-landing-page></app-landing-page>
  <mat-card class="main-card">
    <mat-expansion-panel [(expanded)]="filtersExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
              Filtruj oferty
            </mat-panel-title>
        </mat-expansion-panel-header>
        <filters [filters]="filters" (filtersSelected)="onFiltersSelected()"></filters>
    </mat-expansion-panel>
    <br>
    <mat-card-header>
      <mat-card-title>Oferty</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span *ngIf="offers?.length > 0">
        <div class="main__offers">
          <div *ngFor="let offer of offers ; let i index" >
            <app-offer-card [offer]="i"></app-offer-card>
          </div>
        </div>
      </span>
      <div class="no-results" *ngIf="offers?.length === 0">
        Brak wyników dla podanych filtrów. Proszę wybrać inne filtry.
      </div>

      <mat-paginator [length]="count"
        [pageSize]="hits"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChanged($event)">        
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
