.offersList {
  display: flex;
  flex-direction: column;
}

.main__offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
  justify-content: center;
}

.no-results {
  text-align: center;
  width: 100%;
}