<div class="main">
  <div class="userInfo">
    <i class="material-icons avatar">account_circle</i>
    <div class="personalities">
      <div>{{craftsman?.name}} {{craftsman?.surname}}</div>
      <div class="rating">
        <i class="material-icons ratingIcon">star</i>
        <div class="rate">{{craftsman?.rate}}</div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="material-icons contactIcon">contact_phone</div>
    <div class="text">{{craftsman?.phoneNumber}}</div>
    <div class="material-icons contactIcon">email</div>
    <div class="text">{{craftsman?.email}}</div>
  </div>
</div>
