.main {
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  justify-content: center;
}

.avatar {
  font-size: 100px;
}

.contactIcon {
  margin: 0 20px;
  font-size: 50px;
}

.personalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ratingIcon {
  font-size: 40px;
}

.rate {
  display: flex;
  align-items: center;
  margin: 0 0 0 12px;
}

.text {
  padding-top: 17px;
}
