@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'material-design-icons/iconfont/material-icons.css';

.material-icons {
    cursor: pointer;
    user-select: none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html, body {
    height: 100%;
    margin: 0%;
    overflow: hidden;
}

.main-card {
    margin: 20px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 45%;
}

.textarea {
    height: 200px;
}

.right {
    float: right;
}
