<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Branża
        </mat-panel-title>
        <mat-panel-description>
          {{craftsman?.business}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{craftsman?.description}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Godziny pracy
        </mat-panel-title>
        <mat-panel-description>
           {{panelOpenState ? 'zwiń' : 'sprawdź'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let workingDay of workingDays">
        <p>{{ workingDay }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>