<form [formGroup]="craftsmanSettingsForm">
    <mat-form-field class="full-width">
        <input [(ngModel)]="userProfile.company"
               formControlName="company"
               matInput
               placeholder="Nazwa firmy">
    </mat-form-field>

    <mat-form-field class="full-width">
    <textarea matInput
              [(ngModel)]="userProfile.description"
              class="textarea"
              formControlName="description"
              placeholder="Opis">
    </textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input [(ngModel)]="userProfile.phoneNumber"
               formControlName="phoneNumber"
               matInput
               placeholder="Numer telefonu">
    </mat-form-field>
    <app-location-picker (changeLocation)="setLocation($event)"></app-location-picker>
    <span *ngFor="let day of timeRangeViews">
        <time-range-picker
            [model]="day">
        </time-range-picker>
    </span>
</form>
