<mat-card class="opinions-card">
    <mat-card-content>
        <mat-expansion-panel *ngIf="(isLoggedIn$ | async) && (myProfile$ | async) && (myProfile$ | async)?.craftsmanId != craftsmanId" [(expanded)]="addOfferExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dodaj nową opinie
                </mat-panel-title>
            </mat-expansion-panel-header>
            <add-opinion [craftsmanId]="craftsmanId" (opinionAdded)="refresh()"></add-opinion>
        </mat-expansion-panel>
        <br>
        <table *ngIf="opinions" mat-table [dataSource]="opinions" class="mat-elevation-z8">
            <ng-container [matColumnDef]="'creationDate'">
                <th mat-header-cell *matHeaderCellDef> DATA WYSTAWIENIA </th>
                <td  mat-cell *matCellDef="let element"> {{element?.creationDate | date}} </td>
            </ng-container>
            
            <ng-container [matColumnDef]="'rate'">
                <th mat-header-cell *matHeaderCellDef> OCENA </th>
                <td  mat-cell *matCellDef="let element">
                    <score-stars [value]="element?.rate"></score-stars>
                </td>
            </ng-container>    
        
            <ng-container [matColumnDef]="'description'">
                <th mat-header-cell *matHeaderCellDef> KOMENTARZ </th>
                <td  mat-cell *matCellDef="let element"> {{element?.description}} </td>
            </ng-container>    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>


