<mat-form-field class="full-width">
    <textarea matInput
        [(ngModel)]="opinion.description"
        class="textarea"
        placeholder="Komentarz">
    </textarea>
</mat-form-field>

<div>
    <p>Twoja ocena: </p>
    <score-stars-picker (value)="onValueChanged($event)"></score-stars-picker>
</div>

<div>
    <button mat-raised-button
        (click)="add()"
        color="primary"> Dodaj
    </button>
</div>
