<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>O aplikacji</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><b>Craftsmen Services</b> to serwis internetowy przeznaczony do wyszukiwania oraz umieszczania ofert usług rzemieślniczych.
        Na portalu można przeglądać oferty rzemieślników z całego kraju. Zaawansowane filtrowanie ofert pozwala na wyszukanie
        rzemieślników w konkretnej lokalizacji w wybanym przedziale cenowym. 
        <br><br>
        Na podstawie opinii innych klientów decyzja o wyborze konkretnego rzemieślnika staje się prosta jak nigdy wcześniej.
        </p>
        <br>
        <button mat-button color="primary" (click)="showOffers()">Zobacz aktualne oferty</button>
    </mat-card-content>
</mat-card>
    