.my-profile {
  margin: 20px;
}

.my-profile-personality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-name {
  display: flex;
  flex-direction: column;
}

.my-profile-name-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.my-profile-person {
  font-size: 35px;
}

.my-profile-company {
  font-size: 30px;
}

.my-profile-map {
  width: 100%;
}

.my-profile-contact {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size: 20px;
}

.my-profile-subsection-element {
  display: flex;
  flex-direction: row;
  margin: 10px 5px 10px 0;
}

.my-profile-contact-title {
  font-weight: 700;
  line-height: 1.5;
}

.my-profile-subsection-title {
  font-size: 25px;
  font-weight: 700;
}

.my-profile-description {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  font-size: 15px;
}
