<mat-card class="my-profile">
   <mat-card-header>
     <mat-card-title>Profil użytkownika</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <div *ngIf="(myProfile$ | async)">
      <div class="my-profile-personality">
        <div class="my-profile-name-edit">
          <div></div>
          <div class="my-profile-name">
            <div class="my-profile-person">{{ (myProfile$ | async).name }} {{ (myProfile$ | async).surname }}</div>
            <div class="my-profile-company" *ngIf="(myProfile$ | async).isCraftsman">{{ (myProfile$ | async).company }}</div>
          </div>
          <div>
            <button
              mat-raised-button
              color="primary"
              (click)="updateMyProfile()"
            >
            Edytuj
            </button>
          </div>
        </div>
        <div class="my-profile-map" *ngIf="(myProfile$ | async).isCraftsman">
          <app-location-map
            [latitude]="(myProfile$ | async).latitude"
            [longitude]="(myProfile$ | async).longitude"
            [title]="'Znajdziesz mnie tutaj'"
          >
          </app-location-map>
        </div>
      </div>
        <mat-tab-group>
          <mat-tab label="Informacje">
            <div class="my-profile-contact">
              <div class="my-profile-subsection-title">
                Kontakt
              </div>
              <div class="my-profile-subsection-element">
                {{ (myProfile$ | async).email }}
              </div>
              <div class="my-profile-subsection-element">
                <div>{{ (myProfile$ | async).phoneNumber }}</div>
              </div>
            </div>
            <div *ngIf="(myProfile$ | async).isCraftsman">
              <div class="my-profile-subsection-title">
                Opis
              </div>
              <div class="my-profile-description">
                <div>{{ (myProfile$ | async).description }}</div>
              </div>
              <div class="my-profile-subsection-title">
                Godziny pracy
              </div>
              <div class="my-profile-workingHours">
                <div
                  *ngIf="(myProfile$ | async).monday.startTime !== (myProfile$ | async).monday.endTime"
                  class="my-profile-subsection-element"
                >
                  <div>Ponidziałek: </div>
                  <div>{{ (myProfile$ | async).monday.startTime }} - {{ (myProfile$ | async).monday.endTime }}</div>
                </div>
                <div
                  *ngIf="(myProfile$ | async).tuesday.startTime !== (myProfile$ | async).tuesday.endTime"
                  class="my-profile-subsection-element"
                >
                  <div>Wtorek: </div>
                  <div>{{ (myProfile$ | async).tuesday.startTime }} - {{ (myProfile$ | async).tuesday.endTime }}</div>
                </div>
                <div
                  *ngIf="(myProfile$ | async).wednesday.startTime !== (myProfile$ | async).wednesday.endTime"
                  class="my-profile-subsection-element"
                >
                  <div>Środa: </div>
                  <div>{{ (myProfile$ | async).wednesday.startTime }} - {{ (myProfile$ | async).wednesday.endTime }}</div>
                </div>
                <div
                *ngIf="(myProfile$ | async).thursday.startTime !== (myProfile$ | async).thursday.endTime"
                class="my-profile-subsection-element"
                >
                  <div>Czwartek: </div>
                  <div>{{ (myProfile$ | async).thursday.startTime }} - {{ (myProfile$ | async).thursday.endTime }}</div>
                </div>
                <div
                *ngIf="(myProfile$ | async).friday.startTime !== (myProfile$ | async).friday.endTime"
                class="my-profile-subsection-element"
                >
                  <div>Piątek: </div>
                  <div>{{ (myProfile$ | async).friday.startTime }} - {{ (myProfile$ | async).friday.endTime }}</div>
                </div>
                <div
                *ngIf="(myProfile$ | async).saturday.startTime !== (myProfile$ | async).saturday.endTime"
                class="my-profile-subsection-element"
                >
                  <div>Sobota: </div>
                  <div>{{ (myProfile$ | async).saturday.startTime }} - {{ (myProfile$ | async).saturday.endTime }}</div>
                </div>
                <div
                *ngIf="(myProfile$ | async).sunday.startTime !== (myProfile$ | async).sunday.endTime"
                class="my-profile-subsection-element"
                >
                  <div>Niedziela: </div>
                  <div>{{ (myProfile$ | async).sunday.startTime }} - {{ (myProfile$ | async).sunday.endTime }}</div>
                </div>
              </div>
            </div>
          </mat-tab>
          <div *ngIf="(myProfile$ | async).isCraftsman">
            <mat-tab label='Wystawione oferty'>
              <app-user-profile-offers [craftsmanId]="(myProfile$ | async).craftsmanId"></app-user-profile-offers>
            </mat-tab>
          </div>
        </mat-tab-group>
     </div>
   </mat-card-content>
 </mat-card>
