.content, .image {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;

    .description {
        padding-left: 15px;
        padding-top: 15px;
        max-width: 300px;
    }

    mat-divider {
        position: relative;
    }
}
