<div>
    <div class="content">
        <p class="description">
            {{model?.description}}
        </p>
        <mat-divider></mat-divider>
        <p class="description">
            Dostępność usługi: {{model?.availableLocation}}
        </p>
        <mat-divider></mat-divider>
        <div class="description">
            <mat-checkbox
                [checked]="model?.doorToDoor"
                [disabled]="disabled"
                name="doorToDoorCheckbox">
                Od drzwi do drzwi
            </mat-checkbox>
            <br>
            <mat-checkbox
                [checked]="model?.hasOwnTools"
                [disabled]="disabled"
                name="hasOwnToolsCheckbox">
                Mam własne narzędzia
            </mat-checkbox>
        </div>
        <p class="description">
            Cena: {{model?.price}} zł<br>
            Cena za godzinę: {{model?.pricePerHour}} zł
        </p>
    </div>
    <div *ngIf="model.image" class="image">
        <img [src]="model.image" height="250px" width="auto" />
    </div>
</div>

